body {
  background-color: #D2B48C;
}

h1 {
  margin-left: 237px;
}

form{
  display: inline-grid;
  translate: calc(50vw - 50%) calc(50vh - 50%);
  background-color: #f0f0f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 10px;
  background-color: #007bff;
  border-radius: 5px;
}

form>:first-child {
  grid-column: span 2;
}

#input, #result{
  height: 30px;
  width: 200px;
  padding: 0;
  border: 1px solid black;
  text-align: center;
  background-color: #28a745;
  color: #333333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn{
  height: 30px;
}

#result{
  height: 30px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#c:not(:checked)~#eur,
#c:checked~#usd {
  background-color: aqua;
}

option {
  background-color: #28a745;
}
